

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: black;
}


header{ 
    width: 100%; 
    max-width: 100%;
    padding-left: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000000;
}

header nav a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 16px;
    transition: 0.2s;
    text-decoration: none;
    box-shadow: 4px 8px 8px;
    box-shadow: 2px 4px 8px lightgoldenrodyellow;
}

body{
    height: 50000px;
}
a.active{
    color: black;
    background: #14ff72cb;
    border-radius: 2px;
}

a:hover{
    color: black;
    background: #14ff72cb;
    border-radius: 2px;
}



.carousel{
    width: 100vw;
    height: 100vh;
    margin-top: -50px;
    overflow: hidden;
    position: relative;
}

.carousel .list .item{
    width: 180px;
    height: 250px;
    position: absolute;
    top: 80%;
    transform: translateY(-70%);
    left: 70%;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
    background-position: 50% 50%;
    background-size: cover;
    z-index: 100;
    transition: 1s;
}

.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item:nth-child(3){
    left: 67%;
}

.carousel .list .item:nth-child(4){
    left: calc(67% + 200px);
}

.carousel .list .item:nth-child(5){
    left: calc(67% + 400px);
}

.carousel .list .item:nth-child(6){
    left: calc(67% + 600px);
}

.carousel .list .item:nth-child(n+7){
    left: calc(67% + 800px);
    opacity: 0;
}





.list .item .content{
    position: absolute;
    top: 50%;
    left: 100px;
    transform: translateY(-50%);
    width: 400px;
    text-align: left;
    color: #fff;
    display: none;
}

.list .item:nth-child(2) .content{
    display: block;
}

.content .title{
    font-size: 100px;
    text-transform: uppercase;
    color: #14ff72cb;
    font-weight: bold;
    line-height: 1;
    text-shadow: 4px 8px 10px gray;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}
.content .nme {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.8);
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.content .name{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
    text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.8)
    
}

.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    margin-left: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.4);
    border-radius: 10px;
    text-shadow: 2px 4px 10px black;
    opacity: 0;
    animation: animate 1s ease-in-out 0.9s 1 forwards;

}

.content .btn{
    margin-left: 5px;
    opacity: 0;
    animation: animate 1s ease-in-out 1.2s 1 forwards;
}

.content .btn  button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 8px 10px 12px;
    border-radius: 8px;
}

.content .btn  button:nth-child(1){
    margin-right: 15px;
    background-color: lightgreen;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

}

.content .btn :nth-child(2){
    background: white;
    color: black;
    border: 8px outset #fff;
    transition: 0.3s;
}

.content .btn  button:nth-child(1):hover{
    background-color: green;
    color: #fff;
    border-color: #14ff72cb;
}


@keyframes animate {
    
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}

.arrows{
    position: absolute;
    top:90%;
    right: 35%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 20px;
    align-items: center;
    
}
.login {
    position: absolute;
    top: 15%;
    right: 7%;
    width: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 10px ;
    color: black;
    background-color: lightgreen;
    box-shadow: 4px 8px 8px;
    height: 35px;
    cursor: pointer;
    transition: .5s;
}
.login:hover {
    background-color: green;
    color: white;
}

.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #14ff72cb;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;

}
.arrows button:hover{
    background: #fff;
    color: #000;
}


.carousel .timeRunning{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 4px;
    background-color: #14ff72cb;
    left: 0;
    top: 0;
    animation: runningTime 1s linear 1 forwards;
}

@keyframes runningTime {
    
    from{width: 0%;}
    to{width: 100%;}

}


@media screen and (max-width: 999px){
    
    header{
        padding-left: 50px;
    }

    .list .item .content{
        left: 50px;
    }

    .content .title, .content .name{
        font-size: 70px;
    }

    .content .des{
        font-size: 16px;
    }

}

@media screen and (max-width: 690px){
    header nav a{
        font-size: 14px;
        margin-right: 0;
    }

    .list .item .content{
        top: 40%;
    }

    .content .title, .content .name{
        font-size: 45px;
    }

    .content .btn button{
        padding: 10px 15px;
        font-size: 14px;
    }
}

h1 {
    color:green;
    text-align: center;
    position: relative;
    top: 60px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 1px 3px 2px white;
}

.min-container {
    background-image: url(img/leaves.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 4rem 0;
}
.img-box img{
    display: block;
    width: 100%;
    height: 30rem;
    object-fit: cover;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    grid-gap: 2rem;
    text-align: center;
    width: 90%;
    margin: auto;
}
.card {
    display: block;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    cursor: pointer;
    transition: 0.2s;
    position: relative;

}


.card-content {
    position: absolute;
    background-color: rgb(0 0 0/50%);
    bottom: 0;
    color: white;
    width: 100%;
    height: 10%;
    padding: 2.2rem;
    overflow: hidden;
    transition: 0.7s;
}
.card-content h2 {
    top: 10px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;
}
.card-content p {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 1.2rem;
    text-align: center;
    color: white;
}

.card-content:hover{
    height: 70%;
    transition: 0.7s;

}

@media (max-width:1024px) {
        .card-grid{
            grid-template-columns: repeat(2, 1fr);
        }

}
@media (max-width:767px) {
    .card-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}