* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


html {
    scroll-behavior: smooth;
}
h3  {
    position: absolute;
    top:50px;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 1px 4px 8px gray;
    font-weight: bold;
    color: green;
    text-align: center;
}

header {
    background: lightcyan;
    position: absolute;
    top: 0px;
    width: 100%;
    max-width: 100%;
    padding-left: 100px;
    z-index: 1000;
    display: flex;
    height: 50px;
    align-items: center;
}

header nav a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    margin-right: 5px;
    padding: 5px 10px;
    font-size: 16px;
    transition: 0.2s;
    text-decoration: none;
    box-shadow: 4px 8px 8px;
    box-shadow: 2px 4px 8px lightgoldenrodyellow;
}

a.active{
    color: black;
    background: #14ff72cb;
    border-radius: 2px;
}
a:hover{
    color: black;
    background: #14ff72cb;
    border-radius: 2px;
}


body {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 4rem 0;
}
.img-box img{
    display: block;
    width: 100%;
    height: 30rem;
    object-fit: cover;
}
.card-grid {
    padding: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    grid-gap: 1.2rem;
    text-align: center;
    width: 100%;
    margin: auto;
    
}
h1 {
    position: absolute;
    right: 45%;
    top: 100px;
    text-align: center;
    
}

.card {
    display: block;
    overflow: hidden; 
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.7);
    cursor: pointer;
    transition: 0.2s;
    position: relative;

}
.card-content {
    position: absolute;
    background-color: rgb(0 0 0/50%);
    bottom: 0;
    color: white;
    width: 100%;
    height: 5%;
    padding: 2.2rem;
    overflow: hidden;
    transition: 0.7s;
}
.card-content h1 {
    font-size: 2rem;
    font-weight: bold;
    text-transform: capitalize;

}
.card-content p {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5rem;
    padding: 1.2rem;

}

.card-content:hover{
    height: 50%;
    transition: 0.7s;

}

@media (max-width:1024px) {
        .card-grid{
            grid-template-columns: repeat(2, 1fr);
        }

}
@media (max-width:767px) {
    .card-grid {
        grid-template-columns: repeat(1, 1fr);
    }
}


    